@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #00B2FF;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #2a50a521;
  width: 4px;
}

body {
  font-family: 'Ubuntu', 'sans-serif', 'serif';
  color: #f2f4fb;
  background-color: #202020;
  overflow-x: hidden;
  cursor: url("../cursors/default.cur"), default;
}

a {
  cursor: url("../cursors/pointer.cur"), pointer;
}

p:hover, h1:hover, h3:hover {
  cursor: url("../cursors/text.cur"), text;
}

.container {
  width: 1290px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background-image: url("../images/art.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item-text {
  text-decoration: none;
  margin-right: 50px;
  font-size: 16px;
  font-weight: normal;
  color: #f2f4fb;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

.menu__item-text:hover {
  color: #4687E9;
}

.menu__icon {
  margin-right: 10px;
}

.logo {
  -webkit-filter: drop-shadow(0px 0px 24px rgba(202, 239, 255, 0.5));
          filter: drop-shadow(0px 0px 24px rgba(202, 239, 255, 0.5));
  -webkit-transition: .5s filter;
  transition: .5s filter;
}

.logo:hover {
  -webkit-filter: drop-shadow(0px 0px 25px rgba(202, 239, 255, 0.7));
          filter: drop-shadow(0px 0px 25px rgba(202, 239, 255, 0.7));
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 180px 0;
}

.information {
  width: 520px;
}

.information__title {
  font-weight: 700;
  font-size: 50px;
}

.information__description {
  font-weight: 400;
  font-size: 19px;
  padding-top: 20px;
  line-height: 124%;
  color: #656565;
}

.information__image {
  -webkit-filter: drop-shadow(0 0 48px #eeeeee3d);
          filter: drop-shadow(0 0 48px #eeeeee3d);
}

.button {
  margin-top: 30px;
  padding: 20px 28px;
  display: inline-block;
  background-color: #4687E9;
  text-decoration: none;
  color: #f2f4fb;
  font-size: 18px;
  border-radius: 7px;
  font-size: 17px;
  -webkit-transition: .3s background-color;
  transition: .3s background-color;
}

.button:hover {
  background-color: #3263ad;
}

.guilds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0;
}

.guilds__title {
  font-weight: 700;
  font-size: 30px;
  width: 35%;
  line-height: 120%;
}

.guilds__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guilds__image {
  background-color: #3f3f3f;
  width: 70px;
  height: 70px;
  margin-left: 70px;
  border-radius: 10px;
}

.feautures__item {
  margin: 130px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feautures__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 46%;
}

.feautures__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feautures__title {
  font-weight: 500;
  font-size: 40px;
}

.feautures__description {
  padding-top: 20px;
  font-weight: 300;
  font-size: 20px;
  color: #656565;
  line-height: 120%;
}

.feautures__icon {
  margin-right: 4%;
}

.feautures__image {
  border-radius: 12px;
}

.invite {
  padding: 80px 0;
  background-image: url("../images/art2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.invite__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}

.statistics {
  padding: 150px 0;
  text-align: center;
}

.statistics__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics__item {
  width: 15%;
  padding: 50px 70px;
  background-color: #c4c4c405;
  border-radius: 10px;
}

.statistics__title {
  padding-top: 50px;
  font-weight: 300;
  font-size: 25px;
}

.statistics__description {
  padding-top: 20px;
  font-weight: 600;
  font-size: 30px;
}

.footer {
  padding: 100px 0 50px;
  background-color: #10101050;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  font-weight: 700;
  font-size: 30px;
}

.footer__link {
  text-decoration: none;
  padding-top: 10px;
  text-align: right;
  color: #656565;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.footer__link:hover {
  color: #4687E9;
}

.footer__thanks {
  padding-top: 70px;
  text-align: center;
  font-size: 13px;
  color: #656565;
  line-height: 124%;
}
/*# sourceMappingURL=style.css.map */